{% extends 'base.html.twig' %}

{% block title %}Profil index{% endblock %}

{% block main %}
    <h1>Profil index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Address</th>
                <th>Tel</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for profil in profils %}
            <tr>
                <td>{{ profil.id }}</td>
                <td>{{ profil.firstname }}</td>
                <td>{{ profil.lastname }}</td>
                <td>{{ profil.address }}</td>
                <td>{{ profil.tel }}</td>
                <td>
                    <a href="{{ path('app_profil_show', {'id': profil.id}) }}">show</a>
                    <a href="{{ path('app_profil_edit', {'id': profil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_profil_new') }}">Create new</a>
{% endblock %}
