{% extends 'base.html.twig' %}

{% block title %}Détail Article{% endblock %}

{% block main %}

<div class="row mt-5 text-center">
    <h1>
        {{ article.title }}
    </h1>    
</div>

<div class="row mt-2 text-center">

    {% include "helper/_flash.html.twig" %}

    {% if article.image %}
        <img src="{{ article.image }}"  style="width: 300px; margin: 40px auto" alt="{{ article.title }}">
    {% endif %}
    <p>
        {{article.content}}
    </p>
    <p>
        <small>
            {{article.author.username}}
        </small><br>
        <small>
            {{article.datePublished|date("d/m/Y")}}
        </small>
    </p>
    <form action="{{ path("app_article_delete") }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?')">
        <input type="hidden" name="token" value="{{ csrf_token('delete-'~article.id) }}" >
        <input type="hidden" name="id" value="{{ article.id }}">
        {% if is_granted('ROLE_USER') and app.user.id == article.author.id %}                
            <button class="btn btn-danger" type="submit" >Supprimer</button>
        {% endif %}
    </form>
</div>

<div class="row mt-5">
    <h3>Ajouter un commentaire</h3>
    <br>
    {% if is_granted('ROLE_USER') %}
        {{ include('comment/_form.html.twig') }}
    {% else %}        
        <div class="alert alert-info">
            Pour écrire un commentaire connecte toi !
        </div>    
    {% endif %}
    
</div>

<div class="row mt-5">
    <h3>Commentaires: </h3>
    {% for comment in article.comments %}
        <h6>{{ comment.content }}</h6>

        <hr>
    {% endfor %}
</div>

{% endblock %}
