{% extends 'base.html.twig' %}

{% block title %}Détail Article{% endblock %}

{% block main %}

<div class="row mt-5 text-center">
    <h1>
        {{ article.title }}
    </h1>    
</div>

<div class="row mt-2 text-center">

    {% include "helper/_flash.html.twig" %}

    {% if article.image %}
        <img src="{{ article.image }}"  style="width: 300px; margin: 40px auto" alt="{{ article.title }}">
    {% endif %}
    <p>
        {{article.content}}
    </p>
    <p>
        <small>
            {{article.author}}
        </small><br>
        <small>
            {{article.datePublished|date("d/m/Y")}}
        </small>
    </p>
    <form action="{{ path("app_article_delete") }}" method="post" onsubmit="return confirm('Voulez-vous vraiment supprimer cet article ?')">
        <input type="hidden" name="token" value="{{ csrf_token('delete-'~article.id) }}" >
        <input type="hidden" name="id" value="{{ article.id }}">
        <button class="btn btn-danger" type="submit" >Supprimer</button>
    </form>
</div>

<div class="row mt-5">
    <h3>Ajouter un commentaire</h3>
    <br>
    {{ include('comment/_form.html.twig') }}
</div>

{% endblock %}
